@media (max-width: 1024px)
    .carousel
        &__inner
            img
                width: 80%
@media (max-width: 920px)
.feed
    &__text 
        max-width: 580px  
@media (max-width: 761px)
    .advantages__wrapper
        flex-wrap: wrap
        justify-content: center
    .consultation
        .title
            font-size: 32px 
        &__descr
            font-size: 18px
    .carousel
        &__inner
            img
                width: 70%
    .catalog
        &__tab
            width: 200px
    .feed
        &__text 
            max-width: 450px
    .modal
        width: 340px
        min-height: 400px
    .feed-form
        width: 260px
@media (max-width: 650px)
    .header
        &__official
            span
                font-size: 14px
        &__phone
            font-size: 16px
        .button
            width: 135px
            font-size: 11px
        &__logo
            width: 230px
    .consultation
        .title
            font-size: 30px 
        &__descr
            font-size: 16px
    .feed
        &__text 
            max-width: 380px
        &__descr
            font-size: 14px
@media (max-width: 566px)
    .header
        &__logo
            width: 180px
    .carousel
        &__inner
            img
                width: 65%
    .catalog
        &__tab
            width: 130px
            font-size: 14px
    .feed
        &__img
            width: 28%
        &__text 
            max-width: 320px
        &__descr
            font-size: 13px
    .footer
        &__info
            max-width: 320px
            height: 250px
        &__addr
            margin-bottom: 22px
        &__phone
            margin-bottom: 22px
@media (max-width: 476px)
    .header
        &__official
            span
                font-size: 12px
                font-weight: 700
        &__phone
            font-size: 14px
        .button
            width: 135px
            font-size: 11px
        &__logo
            width: 230px
    .promo
        &__h1
            font-size: 36px
        &__subheader
            font-size: 20px
        &__icons
            max-width: 280px
        .button_main
            width: 250px
            font-size: 14px
    .consultation
        .title
            font-size: 28px 
        &__descr
            font-size: 14px
    .carousel
        &__inner
            img
                width: 60%
    .catalog
        &__tab
            width: 100px
            font-size: 11px
    .feed
        &__img
            width: 24%
        &__text 
            max-width: 300px
        &__descr
            font-size: 12px