@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-100.ttf)
    font-weight: 100
    font-style: normal
@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-100italic.ttf)
    font-weight: 100
    font-style: italic
@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-300.ttf)
    font-weight: 300
    font-style: normal
@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-300italic.ttf)
    font-weight: 300
    font-style: italic
@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-500.ttf)
    font-weight: 500
    font-style: normal
@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-500italic.ttf)
    font-weight: 500
    font-style: italic
@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-700.ttf)
    font-weight: 700
    font-style: normal
@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-700italic.ttf)
    font-weight: 700
    font-style: italic
@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-900.ttf)
    font-weight: 900
    font-style: normal
@font-face 
    font-family: MuseoSans 
    src: url(../fonts/MuseoSansCyrl-900italic.ttf)
    font-weight: 900
    font-style: italic
* 
    font-family: MuseoSans 
    font-weight: 300

.container
    min-width: 950px
@import "variables"
@import "mixins"
@import "general"
@import "media"

